<h1>About</h1>

<p>
	This app is designed to showcase the <a target="blank" href="https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API">Canvas API's</a> markup capability.<br>
	Source code: <a target="blank" href="https://github.com/simmeringc/canvas-draw-demo">https://github.com/simmeringc/canvas-draw-demo</a>.
</p>